#<FilesMatch "\.(ttf|otf|eot|woff)$">
  #<IfModule mod_headers.c>
    #Header set Access-Control-Allow-Origin "*"
  #</IfModule>
#</FilesMatch>

#IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

#php_value session.gc_maxlifetime 172800
#php_flag display_errors on

RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^Style/([^/]+)$	Style/$1	[L]	  	
RewriteRule    ^Javascript/([^/]+)$	Javascript/$1	[L]	
RewriteRule    ^ZzzelpScript/([^/]+)$	ZzzelpScript/$1	[L]	  	

RewriteRule    ^Images/([^/]+)$	Images/$1	[L]	  	
RewriteRule    ^Userscripts/([^/]+)$	Userscripts/$1	[L]
RewriteRule    ^Fichiers/([^/]+)$	Fichiers/$1	[L]
RewriteRule    ^Examples/([^/]+)$	Examples/$1	[L]

RewriteRule	   api/(.*)$ 	api/api.php?request=$1 [L,QSA,NC]
RewriteRule    ^([^/]+)$	index.php?page=$1	[L,QSA]
RewriteRule    ^([^/]+)/$	index.php?page=$1	[L,QSA]	
RewriteRule    ^([^/]+)/([^/]+)$	index.php?page=$1&onglet=$2	[L,QSA]
RewriteRule    ^([^/]+)/([^/]+)?([^/]+)$	index.php?page=$1&onglet=$2&$3	[L,QSA]
RewriteRule    ^([^/]+)?([^/]+)$	index.php?page=$1?$2	[L,QSA]

AddDefaultCharset UTF-8


<Files *.html|*.js|*.css>
	SetOutputFilter DEFLATE
</Files>
